---
layout: default
---
<h2><a href="{{page.post_url}}" title="{{page.title}}">{{page.title}}</a></h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
{{ content }}
</div>

<div class="pagination">
  {% if page.previous.url %}
  <a href="{{page.previous.url}}"
     class="previous"
     title="Previous Post: {{page.previous.title}}">
    <i class="icon icon-left"></i>
    {{page.previous.title}}
  </a>
  {% endif %}
  
  ||

  {% if page.next.url %}
  <a href="{{page.next.url}}"
     class="next"
     title="Next Post: {{page.next.title}}">
    {{page.next.title}}
    <i class="icon icon-right"></i>
  </a>
  {% endif %}
  
</div>
