<!-- Pagination links -->
<ul class="pager">
  <li class="previous"><a href="/">&laquo; First</a></li>
  {% if paginator.previous_page %}
  <li class="previous"><a href="{{ paginator.previous_page_path }}">&larr; Previous</a></li>
  {% else %}
  <li class="previous disabled"><a href="{{ paginator.previous_page_path }}">&larr; Previous</a></li>
  {% endif %}
  <li><span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
  <li class="next"><a href="/page{{paginator.total_pages}}">Last &raquo;</a></li>
  {% if paginator.next_page %}
  <li class="next"><a href="{{ paginator.next_page_path }}">Next &rarr;</a></li>
  {% else %}
  <li class="next disabled"><a href="{{ paginator.next_page_path }}">Next &rarr;</a></li>
  {% endif %}
</ul>
